<md-content flex layout-padding layout="row" layout-align="center center" style="height:100%">
  <md-whiteframe class="md-whiteframe-z5 formContainer" layout-padding>
    <form name="loginForm">
      <md-input-container>
        <label>Nombre de Usuario</label>
        <input ng-model="user.username">
      </md-input-container>
      <md-input-container>
        <label>Contraseña</label>
        <input type="password" ng-model="user.password">
      </md-input-container>
      <div layout="row" layout-padding layout-align="end center" style="width:100%">
          <md-button class="md-raised md-primary" ng-click="login()">Iniciar sesion</md-button>
      </div>
      <div layout="row" layout-align="center center">
        <p>No tenes cuenta? <a href="#/signup">Registrate</a></p>
      </div>
    </form>
  </md-whiteframe>
</md-content>