<md-dialog aria-label="Add new event" ng-controller="newEventCtrl">
    <md-content layout-padding style="width:600px">
        <form name="userForm">
            <md-input-container flex>
                <label>Profesional</label>
                <input ng-model="event.owner">
            </md-input-container>
            <md-input-container flex>
                <label>Fecha</label>
                <input type="date" ng-model="event.start">
            </md-input-container>
            <md-input-container flex>
                <label>Paciente</label>
                <input ng-model="event.title">
            </md-input-container>
            <div layout="row" layout-padding layout-align="end center" style="width:100%">
                <md-button class="md-raised" ng-click="closeDialog()">Cancelar</md-button>
                <md-button class="md-raised md-primary" ng-click="save()">Guardar</md-button>
            </div>
            </md-dialog-content>
        </form>
    </md-content>
</md-dialog>